<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Com" value="COM1" />
        <add key="comboBoxForCmd1" value="密码" />
        <add key="comboBoxForCmd2" value="自动添加开关" />
        <add key="ComboBoxForFittingCmd1" value="密码" />
        <add key="ComboBoxForFittingCmd2" value="自动添加开关" />
    </appSettings>
</configuration>