<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="comboBoxForCmd1" value="门卡" />
        <add key="comboBoxForCmd2" value="添加完成" />
        <add key="Com" value="COM80" />
        <add key="ComboBoxForFittingCmd1" value="开锁记录" />
        <add key="ComboBoxForFittingCmd2" value="组合开锁" />
    </appSettings>
</configuration>